Source: golang-chi
Section: devel
Priority: extra
Maintainer: Andrii Shabalin <andrii.shabalin@envisionx.co>
Build-Depends: debhelper
Standards-Version: 3.9.3
Homepage: https://github.com/go-chi/chi

Package: golang-chi
Architecture: all
Description: Golang router and http server
 Golang router and http server
