Source: golang-chi
Section: devel
Priority: extra
Maintainer: Oleksii Klitovchenko <oleksii.klitovchenko@envisionx.co>
Build-Depends: debhelper, golang
Standards-Version: 4.1.4
Homepage: https://github.com/go-chi/chi

Package: golang-chi
Architecture: any
Description: Lightweight, idiomatic and composable router for building Go HTTP services.
